{% extends "base.html" %}
<!DOCTYPE html>
{% block content %}
    <div class="container">
 <div class="row">
<div class="col-md-6 offset-md-3 col-sm-6 col-sm-offset-3">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <h1>Sign In</h1>
        <p class="form-control">
            {{ form.username.label }}<br>

            {{ form.username(class="form-control",placeholder="Username",size=16) }}<br>

            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            {{ form.password.label }}<br>
            {{ form.password(class="form-control",placeholder="Password",size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p class="btn">{{ form.submit(class="btn btn-outline-success") }}</p>


    </form>
           <a class="nav-link" href="{{ url_for('register') }}">Click Here to Register</a>

    </div>
    </div>
    </div>


{% endblock %}
